<!DOCTYPE html>  
<html>  
  <head>
    <title>Mensajes realtime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <h1>JIJI</h1>
    <p>Envía un mensaje:</p>
    <input type="text" id="send" placeholder="Mensaje...">
    <button id="button">Enviar</button>

    <ul id="mensajes"></ul>

  </body>
</html>  