


    <br/>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation"><a href="/graficoEmpEgr">ver egresado por supervisor</a></li>
                    <li role="presentation"><a href="#">Agregar Supervisor</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <br/>

    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <strong><i class="fa fa-info-circle"></i> En esta sección podra ver todos los empleos de los agresados</strong>
        </div>
        <br/><br/>
    </div>


    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-heading" style="text-align:center">Gráfico de egresados con empleos y sin empleos</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3"></div>
                     <div class="col-md-6">
                  <canvas id="grafico1" width="400" height="400"> </canvas>  
                </div>
                <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
