<<<<<<< HEAD
<!-- Default home page -->
<div class="default-page">
  <div class="main container clearfix">
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <h3>Sistema Egresado - Desarrollo Web</h3>
        </div>
      </li>
    </ul>
  </div>
</div>
=======


    


>>>>>>> 4e51c91337a697686f26975949c84d0e43ffcf36
