<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Sistema Egresados </title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrapTheme.min.css">
    <link rel="stylesheet" href="/styles/datepicker.min.css">
    <link rel="stylesheet" href="/styles/empleos.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/fontawesome-stars.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/metisMenu.min.css">
    <link rel="stylesheet" href="/styles/morris.css">
    <link rel="stylesheet" href="/styles/sb-admin-2.min.css">
    <link rel="stylesheet" href="/styles/sweetalert2.min.css">
    <!--STYLES END-->

    <!--SCRIPTS EMPLEOS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/sb-admin-2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/codigo.js"></script>
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/datepickera.es.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <!--SCRIPTS END-->
    
    <!--SCRIPTS EGRESADOS-->
    <script src="/js/egresados.js"></script>
    <script src="/js/form-validator/jquery.form-validator.js"></script>
    <script src="/js/form-validator/jquery.form-validator.min.js"></script>
    <script src="/js/form-validator/jsconf.js"></script>
    <script src="/js/form-validator/lang/es.js"></script>
    <script src="/js/form-validator/location.js"></script>
    <script src="/js/form-validator/logic.js"></script>
    <script src="/js/form-validator/poland.js"></script>
    <script src="/js/form-validator/sanitize.js"></script>
    <script src="/js/form-validator/security.js"></script>
    <script src="/js/form-validator/sepa.js"></script>
    <script src="/js/form-validator/sweden.js"></script>
    <script src="/js/form-validator/toggleDisabled.js"></script>
    <script src="/js/form-validator/uk.js"></script>
    <script src="/js/jquery.barrating.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <!--SCRIPTS END-->
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/sb-admin-2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/codigo.js"></script>
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/datepickera.es.min.js"></script>
    <script src="/js/egresados.js"></script>
    <script src="/js/form-validator/brazil.js"></script>
    <script src="/js/form-validator/color.js"></script>
    <script src="/js/form-validator/date.js"></script>
    <script src="/js/form-validator/file.js"></script>
    <script src="/js/form-validator/html5.js"></script>
    <script src="/js/form-validator/jquery.form-validator.js"></script>
    <script src="/js/form-validator/jquery.form-validator.min.js"></script>
    <script src="/js/form-validator/jsconf.js"></script>
    <script src="/js/form-validator/lang/es.js"></script>
    <script src="/js/form-validator/location.js"></script>
    <script src="/js/form-validator/logic.js"></script>
    <script src="/js/form-validator/poland.js"></script>
    <script src="/js/form-validator/sanitize.js"></script>
    <script src="/js/form-validator/security.js"></script>
    <script src="/js/form-validator/sepa.js"></script>
    <script src="/js/form-validator/sweden.js"></script>
    <script src="/js/form-validator/toggleDisabled.js"></script>
    <script src="/js/form-validator/uk.js"></script>
    <script src="/js/jquery.barrating.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <!--SCRIPTS END-->


</head>


<a href="/addEmpleo"><i class="fa fa-universal-access fa-fw"></i>Empleos</a>
                            <a href="/Empresa"><i class="fa fa-institution fa-fw"></i>Empleadores</a>


<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="row">
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <a class="navbar-brand" href="#">
        <img alt="Brand" src="/images/logo.jpeg" height="80">
      </a>
                        </div>

                        <div class="navbar-text col-md-8 col-sm-12 col-xs-12">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                            <h1 align="center">Sistema Egresados</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-default sidebar" role="navigation" style="margin-top: 0;">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/addEmpleo"><i class="fa fa-universal-access fa-fw"></i>Empleos</a>
                        </li>

                        <li>
                            <a href="/egresados"><i class="fa fa-users fa-fw"></i>Egresados</a>
                        </li>
                        <li>
                            <a href="/Empresa"><i class="fa fa-institution fa-fw"></i>Empresas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Reportes</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <%- body %>
            </div>
        </div>
    </div>
</body>


</html>


